---
---

@import "{{ site.theme }}";


.page-header {
  background-image:linear-gradient(360deg,#841617, #660000);
  padding-top:10px;
  padding-bottom: 10px;
}

.project-tagline  {
  margin: 0px;
}

.level {
  margin-top: 0px;
}

.main-content h1{
  color:#841617;
}

.main-content h2{
  color:#841617;
}

.main-content h3{
  color:#841617;
  text-align: left;
}

img {
  display:block;
  margin-top: 10px!important;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #cccccc;
  padding: 3px;
  box-shadow:2px 2px 3px #888888;
}

.level {
  font-weight: normal;
  opacity: .7;
  font-size: 1.15rem;
  
}
